@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	/* overflow-y: hidden; */
}

.main-content {
	padding-top: 5em;
	padding-bottom: 40vh;
	padding-right: 5em;
	padding-left: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ede8e2;
}


    .faqheader {
        text-decoration: none;
        color: #fff;
        text-transform: unset;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
    }

.flex-center {
	align-items: center;
}

#accordion .accordion-card {
	background: transparent;
	border: 0;
	margin-bottom: 30px;
}
#accordion .accordion-card__header {
    background: #598BAF;
    color: #fff;
    padding: 15px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#accordion .accordion-card__header.collapsed .drop-icon {
	transform: rotate(0deg);
}
#accordion .accordion-card__header h5 {
	display: flex;
	align-items: center;
}
#accordion .accordion-card__header h5 span {
	margin-left: 10px;
}
#accordion .accordion-card__header .drop-icon {
	margin-right: 15px;
	transform: rotate(180deg);
	transition: all 0.2s;
}
#accordion .accordion-card__body {
	padding: 25px;
	background: #ffff;
	border-radius: 25px;
	box-shadow: 0 2px 25px -3px rgba(0, 0, 0, 0.1);
}
.title {
	display: flex;
	justify-content: center;
	color: #393442;
	font-size: 2.2em;
	font-weight: 900;
	margin-bottom: 30px;
}
header {
    background-color: #598BAF;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
}

/*menu button*/
.btn {
    /* width: 150px;
    height: 50px; */
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 1.5vw;
    padding: 1vh 2vh;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #598BAF;
    text-decoration-line: none;
}
.btn > i{
    color: white;
}

    .btn:hover {
        box-shadow: 0 0 20px 0px #2e2e2e3a;
    }

    .btn > .icon {
        position: absolute;
        height: 2em;
        width: 4em;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }

/* .btn > div {
    transform: translateX(3em);
} */

.btn:hover .icon {
    width: 3em;
}

.btn > div {
    color: #fff;
    text-decoration: none;
    padding-left: 2vw;
}

    .btn > div:hover {
        transition: all 0.5s;
        
    }
    
    

    .btn :hover .icon {
        width: 3em;
    }

   

    .btn:active .icon {
        transform: scale(0.85);
       
    }

.title{
    padding-top:40px;
}
/* Mobile */
@media (max-width:767px){
    .main-content{
        overflow-y:auto;
    }
    header{
        padding: 1vh 6vw;
    }
    .btn,.faqheader{
        font-size: 5vw;
    }
    /* .title{
        padding-top: 20vw;
    } */
    .main-content{
        padding-bottom: 45vh;
        padding-right: 1vw;
        padding-left: 1vw;
    }
    .title{
        padding-top: 10vw;
        text-align: center;
        overflow-y: hidden;
    }
}
@media (min-width:768px) and (max-width:991px){
    .main-content{
        overflow-y:auto;
        zoom: 2;
    }
    header{
        padding: 1vh 6vw;
    }
    .btn,.faqheader{
        font-size: 5vw;
    }
    /* .title{
        padding-top: 20vw;
    } */
    .main-content{
        padding-bottom: 60vh;
        padding-right: 1vw;
        padding-left: 1vw;
    }
    .title{
        padding-top: 10vw;
        text-align: center;
        overflow-y: hidden;
    }
    .row{
        width: 90vw;
    }
}

