@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}
/*login page*/
.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    position: relative;
    justify-content: center;
    max-width: 50vw;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;

   
}
.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
    
}

    .input-container input, .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
    }

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

    .input-container input, .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
        width:30em;
    }

    .input-container input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 30em;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    }

    .input-container span {
        display: grid;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        place-content: center;
    }

        .input-container span svg {
            color: #9CA3AF;
            width: 1rem;
            height: 1rem;
        }

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #598BAF;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    width: 100%;
    border-radius: 0.5rem;
    
}
    .submit:hover {
        background-color: #27408b;
    }


.signup-link {
    color: #000;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

    .signup-link a {
        text-decoration: none;
        color: #000;
        padding-left:1em;
        font-weight: 800;
    }

        .signup-link a:hover {
            color: #6B7280;
        }
header {
    background-color: #598BAF;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    padding: 15px 200px;
}

/*menu button*/
.btn {
    /* width: 150px;
    height: 50px; */
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 1.5vw;
    padding: 1vh 2vh;
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #598BAF;
    text-decoration-line: none;
}
.btn > i{
    color: white;
}

    .btn:hover {
        box-shadow: 0 0 20px 0px #2e2e2e3a;
    }

    .btn > .icon {
        position: absolute;
        height: 2em;
        width: 4em;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }

/* .btn > div {
    transform: translateX(3em);
} */

.btn:hover .icon {
    width: 3em;
}

.btn > div {
    color: #fff;
    text-decoration: none;
    padding-left: 2vw;
}

    .btn > div:hover {
        transition: all 0.5s;
        
    }
    
    

    .btn :hover .icon {
        width: 3em;
    }

   

    .btn:active .icon {
        transform: scale(0.85);
       
    }

.loginpage {
    background-color: #ede8e2;
    padding-bottom:30em;
    
}
.password {
    padding-bottom: 9vw;
   
}
.email {
    padding-bottom: 1em;
    padding-top: 4em;
  
}
.signup-link {
    padding-top: 1em;
}
.loginheader {
    text-decoration: none;
    color: #fff;
    text-transform: unset;
    font-weight: 700;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1.5vw;
}
/* Small screen */
@media (min-width:768px) and (max-width:991px){
    header{
        padding: 1vh 6vw;
    }
    .btn,.loginheader{
        font-size: 5vw;
    }
    .loginpage{
        zoom: 1.8;
    }
    .loginform{
        padding-top: 13vh;
    }
    .form-title{
        zoom: 1.5;
    }
    .input-container input{
        font-size: 2.5vw;
        width: 45vw;
    }
    .password{
        padding-bottom: 6vw;
    }
    .input-container input, .form button{
        font-size: 2.5vw;
        width: 45vw;
    }
    .signup-link{
        zoom: 1.5;
    }
    .submit{
        padding: 2vw 1.25rem;
    }
}
